@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
   height:80px;
   width: 100%;
   display: flex;
   /* justify-content:space-around; */
   justify-content:space-between;
   align-items: center;
   background-color: #0F1111;
   color:white;
   gap:30px;
   padding: 10px 40px;
   padding: 10px 60px;
   overflow: hidden;


}
.logo img{
    height:40px;
    width: auto;
}
.address .deliver {
    margin-left: 20px;
    font-size: 0.75rem;
    color: #ccc;
}
.address .icon{
    display: flex;
    align-items: center;
}

.searchbar{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    max-width: 620px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}
.searchbar form{
    height:45px;
    padding: 0;
    max-width: 620px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 2;
    justify-content: space-between;
    margin: 0px 50px;
    background-color: white;

}
.searchbar form select{
    width: 70px;
    border:none;
    margin:0;
    padding:10px;
    
    }
.searchbar form input{
    height:100%;
    width: 80%;
    border: none;
    font-size: large;
    flex-shrink: inherit;
}
.searchbar form button{
    background-color: #FEBD68;
    padding:10px;
    border: none;
}
.sign-in p{
    font-size: 0.75rem;
}
.sign-in span{
    font-weight: 600;
}
.order p{
    font-size: 0.75rem;
}
.order span{
    font-weight: 600;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .material-icons{
    font-size: 2rem;
}

    

.banner{
    background-color: #222F3D;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}
.left-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding:0px 20px;
    list-style: none;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:#878d94;
}
.right-banner{
    display: flex;
    align-items: center;
}
.prime-day{
    width: 100%;
    height:400px;
    background-image: url(./hero-img.jpg);
    background-position: center;
    background-size: cover;
}
.shopping-section{
    width: 100%;
    height:500px;
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
  
    padding:40px;flex-wrap: wrap;
}
.shop-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  /* max-width: 1280px; */
  width: 100%;
  overflow: hidden;
}
.card{
    
    background-color: white;
    
    padding:30px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition: transform 4s ease;
    
}
.card:hover{
    transform: scale(1.2);
    
    
}
.card a:hover{
    color: orangered;
    text-decoration: underline;
}
.card img{
    height:280px ;
    width:100%;
    flex-shrink: 1;
    object-fit: cover;
    margin:10px 0px;
    
}
@media (max-width:700){
    .shop-images{
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    }
}
.card a{
    color:blue;
    transition: color .3s ease;
}
.back-to-top{
    height:50px;
    width: 100%;
    background-color:#37475A;
    text-align: center;
    color:white;
    padding:15px;
}
footer{
    width: 100%;
    padding:40px;
    background-color: #232F3E;
    flex-wrap: wrap;
    display: flex;
}
.info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    /* max-width: 1280px; */
    width: 100%;
    overflow: hidden;
}
.links{
    color :white;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
.links h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
.links a:hover{
    text-decoration: underline;
}